<div class="container">
  <h3>Rate My Cakes</h3>
  <div class="row">

    <!-- Create new cake -->
    <form id="cake-create" class="col-md-4 form-group" (submit)="createCake()">
      <p>Submit a cake to be rated</p>
      <hr>
      <p>Baker Name: <input type="text" name="newCake.baker" [(ngModel)]="newCake.baker" class="form-control"></p>
      <p>Image url: <input type="text" name="newCake.url" [(ngModel)]="newCake.url" class="form-control"></p>
      <button type="submit">Submit</button>
    </form>

    <!-- Display and rate cakes -->
    <div id="cake-list" class="col-md-6">
      <div class="cake" *ngFor="let cake of cakes; let i = index">
        <img (click)="displayCake(i)" src="{{ cake.url }}" alt="{{ cake.baker }}'s cake">
        <form #cakeForm="ngForm" (submit)="createRating(i, cakeForm)" class="form-group rate-form">
          <select name="stars"  class="form-control" ngModel>
            <option value="5">5 Stars</option>
            <option value="4">4 Stars</option>
            <option value="3">3 Stars</option>
            <option value="2">2 Stars</option>
            <option value="1">1 Stars</option>
          </select>
          <input name="comment" ngModel type="text" placeholder="Type your comment here" class="form-control">
          <button type="submit">Rate!</button>
        </form>
      </div>
    </div>
  </div>
  <br><hr>

  <!-- Display Cake Info and Ratings -->
  <app-cake-disp *ngIf="selectedCake" [cakeToShow]="selectedCake"></app-cake-disp>

</div>